:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2514 0.0279 154.7384);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2514 0.0279 154.7384);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2514 0.0279 154.7384);
    --primary: oklch(0.7813 0.0944 154.6560);
    --primary-foreground: oklch(0.1039 0.0192 153.0934);
    --secondary: oklch(0.9552 0.0092 150.6889);
    --secondary-foreground: oklch(0.2496 0.0471 154.3259);
    --muted: oklch(0.9691 0.0017 145.5620);
    --muted-foreground: oklch(0.5194 0.0183 154.1223);
    --accent: oklch(0.9651 0.0034 145.5492);
    --accent-foreground: oklch(0.2514 0.0279 154.7384);
    --destructive: oklch(0.5830 0.2387 28.4765);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9251 0.0042 157.1728);
    --input: oklch(0.9251 0.0042 157.1728);
    --ring: oklch(0.7813 0.0944 154.6560);
    --chart-1: oklch(0.2589 0.0771 146.9359);
    --chart-2: oklch(0.3522 0.0904 153.1530);
    --chart-3: oklch(0.5510 0.0943 154.8542);
    --chart-4: oklch(0.7502 0.0941 155.0740);
    --chart-5: oklch(0.8492 0.0930 154.9592);
    --sidebar: oklch(0.9841 0.0017 145.5622);
    --sidebar-foreground: oklch(0.2514 0.0279 154.7384);
    --sidebar-primary: oklch(0.7813 0.0944 154.6560);
    --sidebar-primary-foreground: oklch(0.2493 0.0171 155.7837);
    --sidebar-accent: oklch(0.9651 0.0034 145.5492);
    --sidebar-accent-foreground: oklch(0.2514 0.0279 154.7384);
    --sidebar-border: oklch(0.9251 0.0042 157.1728);
    --sidebar-ring: oklch(0.9251 0.0042 157.1728);
    --radius: 0.25rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1484 0.0093 153.3566);
    --foreground: oklch(0.9791 0 0);
    --card: oklch(0.1710 0.0100 158.8132);
    --card-foreground: oklch(0.9791 0 0);
    --popover: oklch(0.1812 0.0087 153.0290);
    --popover-foreground: oklch(0.9791 0 0);
    --primary: oklch(0.7813 0.0944 154.6560);
    --primary-foreground: oklch(0.1010 0.0084 165.2340);
    --secondary: oklch(0.2201 0.0095 159.2095);
    --secondary-foreground: oklch(0.9000 0.0936 154.9182);
    --muted: oklch(0.2509 0.0081 153.3184);
    --muted-foreground: oklch(0.7504 0.0149 155.4856);
    --accent: oklch(0.3806 0.0094 151.6300);
    --accent-foreground: oklch(0.9791 0 0);
    --destructive: oklch(0.6897 0.1998 23.9818);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.2894 0.0056 156.8689);
    --input: oklch(0.2894 0.0056 156.8689);
    --ring: oklch(0.8606 0.0944 154.7713);
    --chart-1: oklch(0.3522 0.0904 153.1530);
    --chart-2: oklch(0.5510 0.0943 154.8542);
    --chart-3: oklch(0.7502 0.0941 155.0740);
    --chart-4: oklch(0.9000 0.0936 154.9182);
    --chart-5: oklch(0.9546 0.0688 159.5983);
    --sidebar: oklch(0.1710 0.0100 158.8132);
    --sidebar-foreground: oklch(0.9791 0 0);
    --sidebar-primary: oklch(1.0000 0 0);
    --sidebar-primary-foreground: oklch(0.2006 0.0061 156.6341);
    --sidebar-accent: oklch(0.2396 0.0058 156.7619);
    --sidebar-accent-foreground: oklch(0.9791 0 0);
    --sidebar-border: oklch(0.2799 0.0079 153.3910);
    --sidebar-ring: oklch(0.8606 0.0944 154.7713);
    --radius: 0.35rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --radius-sm: 0;
    --radius-md: 0;
    --radius-lg: 0;
    --radius-xl: 0;

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}