{% set data = load_data(literal=body, format=format) %}
<table class="table">
  {% if format == "csv" %}
  <thead>
    <tr>
      {% for header in data.headers %}<th>{{ header }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody class="[&>tr:not(:last-child)]:border-none [&>tr:last-child]:border-b">
    {% for row in data.records %}
    <tr>{% for value in row %}<td>{{ value }}</td>{% endfor %}</tr>
    {% endfor %}
  </tbody>
  {% else %}
  {% for key, value in data %}{% set_global rows = value %}{% endfor %}
  <thead>
    <tr>
      {% for key, value in rows | first %}<th>{{ key }}</th>{% endfor %}
    </tr>
  </thead>
  <tbody class="[&>tr:not(:last-child)]:border-none [&>tr:last-child]:border-b">
    {% for row in rows %}
    <tr>{% for key, value in row %}<td>{{ value }}</td>{% endfor %}</tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>