{% macro guide(path) %}
{% set section = get_section(path=path ~ "/_index.md") %}
<h3>{{ section.extra.section_title | default(value=section.title) }}</h3>
<ul class="border-l border-border ml-2">
    <li>
        <a href="{{ section.permalink | safe }}" class="pl-4">Overview</a>
    </li>
    {% for p in section.pages %}
    <li>
        <a href="{{ p.permalink | safe }}" class="pl-4">
            {{ p.extra.short_title | default(value=p.title) }}
        </a>
    </li>
    {% endfor %}
    {% for subsection_path in section.subsections %}
    {% set chapter = get_section(path=subsection_path) %}
    {% for chapter_page in chapter.pages %}
    <li>
        <a href="{{ chapter_page.permalink | safe }}">
            {{ chapter_page.extra.short_title | default(value=chapter_page.title) }}
        </a>
    </li>
    {% endfor %}
    {% for sub_path in chapter.subsections %}
    {% set sub = get_section(path=sub_path) %}
    {% for sub_page in sub.pages %}
    <li>
        <a href="{{ sub_page.permalink | safe }}">
            {{ sub_page.extra.short_title | default(value=sub_page.title) }}
        </a>
    </li>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</ul>
{% endmacro guide %}

{% macro toc_items(headings, max_level, root=true) %}
<ul class="space-y-1 ml-2{% if root %} border-l border-border{% endif %}">
    {% for h in headings %}
    {% if max_level >= h.level %}
    <li class="toc-item">
        <a href="#{{ h.id | safe }}" class="toc-link pl-4">{{ h.title }}</a>
        {% if h.children %}
        {{ self::toc_items(headings=h.children, max_level=max_level, root=false) }}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro toc_items %}