<div class="flex h-14 w-full items-center gap-2 px-4">
    <button type="button" onclick="document.dispatchEvent(new CustomEvent('basecoat:sidebar'))" aria-label="Toggle sidebar" data-tooltip="Toggle sidebar"
        data-side="bottom" data-align="start" class="btn-sm-icon-ghost mr-auto size-7 -ml-1.5">
        <span class="iconify lucide--sidebar"></span>
    </button>
    <div class="relative">
        <span class="iconify lucide--search absolute left-2 top-1/2 -translate-y-1/2 size-4 text-muted-foreground pointer-events-none"></span>
        <input class="input h-8 pl-8" id="input-with-text" type="search" placeholder="Search the docs">
    </div>
    <button type="button" aria-label="Toggle dark mode" data-tooltip="Toggle dark mode" data-side="bottom"
        onclick="document.dispatchEvent(new CustomEvent('basecoat:theme'))" class="btn-icon-outline size-8">
        <span class="iconify lucide--sun hidden dark:block"></span>
        <span class="iconify lucide--moon block dark:hidden"></span>
    </button>
    <a href="{{ config.extra.url.github }}" class="btn-icon-outline size-8" target="_blank" rel="noopener noreferrer" data-tooltip="GitHub repository"
        data-side="bottom" data-align="end">
        <span class="iconify mdi--github"></span>
    </a>
    <a href="{{ config.extra.url.discord }}" class="btn-icon-outline size-8" target="_blank" rel="noopener noreferrer" data-tooltip="Discord channel"
        data-side="bottom" data-align="end">
        <span class="iconify fa7-brands--discord text-xs"></span>
    </a>
</div>